* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  overflow: hidden;
  color: white;
}

/* SKY BACKGROUND */
.sky {
  position: fixed;
  inset: 0;
  background: url("assets/sky.jpg") center/cover no-repeat;
  z-index: -2;
}

canvas {
  position: absolute;
  inset: 0;
  display: none;
}

/* OVERLAYS */
.overlay {
  position: absolute;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay.active {
  display: flex;
}

.panel {
  width: 90%;
  max-width: 420px;
}

.title {
  font-size: 60px;
  text-shadow: 4px 4px 0 #000;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  background: #ffd800;
  box-shadow: 0 6px #cc9e00;
  cursor: pointer;
}

button:active {
  transform: translateY(3px);
  box-shadow: 0 2px #cc9e00;
}

/* Leaderboard */

#leaderboardList {
  max-height: 350px;
  overflow-y: auto;
  margin: 15px 0;
}

.playerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0,0,0,0.4);
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 8px;
}

.playerLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rank {
  width: 35px;
  font-weight: bold;
}

.pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.score {
  font-weight: bold;
}

.credit {
  margin-top: 20px;
  font-size: 14px;
}
