* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial Black, sans-serif;
  overflow: hidden;
  color: white;
}

/* SKY */
.sky {
  position: fixed;
  inset: 0;
  background: url("assets/sky.jpg") no-repeat center center;
  background-size: cover;
  z-index: -2;
}

canvas {
  position: absolute;
  inset: 0;
  display: none;
}

.overlay {
  position: absolute;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay.active {
  display: flex;
}

.panel {
  width: 90%;
  max-width: 420px;
}

.title {
  font-size: 60px;
  text-shadow: 5px 5px 0 #000;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

button {
  padding: 15px;
  font-size: 20px;
  border-radius: 15px;
  border: none;
  background: #ffd800;
  box-shadow: 0 6px #cc9e00;
  cursor: pointer;
}

button:active {
  transform: translateY(3px);
  box-shadow: 0 2px #cc9e00;
}

.credit {
  margin-top: 20px;
  font-size: 14px;
}

#leaderboardList {
  max-height: 300px;
  overflow-y: auto;
  margin: 15px 0;
  text-align: left;
}
